<configuration>
    <system.web>
        <compilation debug="true">
            <compilers>
                <compiler language="INTERCAL" 
                          extension=".i"                           type="INTERCAL.CodeDom.Provider,INTERCAL.CodeDom" />
            </compilers>
                   
        </compilation>

    </system.web>
</configuration>
